# Ignore everything by default
*

# Allow only these folders/files
!frontend/
!backend/
!README.md
!.gitignore
!package.json
!package-lock.json

# Optional ignores inside frontend/backend
frontend/node_modules/
backend/venv/
backend/.env/